.ant-layout-header {
	display: table;
	padding: 0;
	background: linear-gradient(to bottom, #2D2D2D, #323232);
	width: 100%;
	border-bottom: 1px solid #141414;
	z-index: 98;
}
.ant-layout {
  background: unset;
}
.ant-layout-sider {
  background: unset;
}